body{
    background-color: lightcyan;
    font-size: 18px;
    font-family: helvetica;
}


.box1{
text-align: center;
}

.first-img{
    filter: grayscale(80%);
    height: 60%;
    width: 60%;
    box-shadow: 0px 2px 2px 2px #443d3d;
}

.box2,.box4{
    margin: 2% 20%;
    line-height: 2;
    text-align: justify;

}

.box3{
    text-align: center;
}
.second-img{
    height: 40%;
    width: 40%;
}
.desc{
    color: saddlebrown;
}
.foot{
    margin-top: 3.9%;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footDesc{
    padding-top: 40px;
}



